html {
    background-color: black;
    color: white;
    margin: 0;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

@media (max-height: 770px) {   
html{
    font-size: .8em;
}
}

body {
    margin: 0;
    /* overflow: hidden; */
}

::-webkit-scrollbar{
    /* color: lime; */
    border-radius: 1em;
}

ul{padding: 0; margin:0}

button {
    position: relative;
    font-size: 1.5em;
    width: 3rem;
    height: 3rem;
    padding: 0;
}

#controls{
    position: fixed;
    bottom: 1.5rem;
    left: 3rem;
    z-index: 15;
}