html {
    background-color: black;
    color: white;
    margin: 0;
    font-size: .9em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

@media (max-height: 750px) {   
html{
    font-size: .6em;
}
}

body {
    margin: 0;
    /* overflow: hidden; */
}

::-webkit-scrollbar{
    /* color: lime; */
    border-radius: 1em;
}

.notes{
    display: none;
}

button {
    position: relative;
    font-size: 2em;
    width: 2em;
    height: 2em;
    padding: 0;
}

#controls{
    position: fixed;
    bottom: 1.5em;
    left: 3em;
    z-index: 15;
}