.slides-wrapper {
    height: 100vh;
    width: 100vw;
}

.slide-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    transition: opacity .5s;
    opacity: 0;
}


img[data-role="background"]{
    display: none;
}

.slide{
    display: none;
    height: inherit;
    width: inherit;
    position: relative;
    transition: inherit;
    background-color: var(--bg-color);
    background-image: var(--bg-img-src);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

    z-index: 0;

    justify-content: center;
    align-items: center;
}

.slide > *{
    z-index: 2;
}

.slide.active {
    display: flex;
}

.active {
    /* display: block; */
    z-index: 1;
    opacity: 1 !important;
}

.active > * {
    display: block;
}


.slide > article {
    width: 100%;
    height: inherit;
    position: relative !important;
    font-size: 4em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: brightness(var(--brightness));
    padding: .5em 1.5em;
}

article > h1, article > h2 {
    width: max-content;
    padding: 0 1.5em;
    font-size: 1.2em;
    border-bottom: .1em solid white;
    margin: 0;
}

article > *{
    /* margin: .5em; */
    margin: 0;
    text-align: center;
    font-size: .7em;
    font-style: italic;
}

article, article > *{
    transition: top 1s, transform 1s;
}

article.bottom > h1 {
    bottom: 1.5em;
    position: absolute;
    transform: none;
}

article.top > h1 {
    top: .5em;
    position: absolute;
    transform: none;
}

article.top.start > h1{
    top: 50%;
    transform: translate(0,-50%);
    animation: none;
}

q{
    opacity: 0;
    transition: all 1s;
    padding: inherit;
}

.italic { font-style: italic;}

.source{
    position: absolute;
    bottom: .7em;
    right: .7em;
    font-size: .4em;
    color: grey;
    font-style: italic;
}

.source::before{
    content:"fot. ";
    /* content:"©" */
}

.quotes {
    margin-top: 2.5em;
    position: relative;
    max-height: 80vh;
    box-sizing: border-box;
    overflow: auto;
    padding: .5em 1em;
    scroll-behavior: smooth;
}

@keyframes arr-down {
    0%,100%{
        transform:none;
    }
    50%{
        transform: translate(0,-50%);
    }
}
.start > .quotes::before{
    content: none;
}
.quotes::before {
    content: "↓";
    position: fixed;
    font-style: normal;
    left: .7em;
    bottom: 2em;
    font-size: 2em;
    animation: arr-down 2s ease-in-out infinite;
}
