body{
    overflow: auto;
}

.slide-container {
    /* position: relative; */
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.slide {
    width: calc(100vw*2/3);
    height: calc(100vh*2/3);
    scale: .9;
    border: .2em solid white;
    border-radius: .5em; 
    font-size: .7rem;
}

.notes{
    display: block;
}